PORT=5000
DATABASE_PATH=./data/studex-content-hub.sqlite
CLIENT_DIST_PATH=../client/dist

META_PAGE_TOKEN=
FACEBOOK_PAGE_ID=
INSTAGRAM_ACCOUNT_ID=
META_AD_ACCOUNT=act_560666565541381
GRAPH_API_VERSION=v20.0
META_TOKEN_EXPIRES_AT=2026-08-04

SHOPIFY_STORE=studexmeat.myshopify.com
SHOPIFY_ACCESS_TOKEN=

GA4_PROPERTY=properties/295728486
